.idea
.gradle
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
*.iml
*.ipr
*.iws
notes.md
.project
.classpath
.settings
.vscode
velocity.log
/.metadata/
/.recommenders/
.factorypath