#
# Copyright (c) 2019 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at:
#
#     https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: 'Build :: MacOS'

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

jobs:
  build-macos:
    name: Eclipse JKube Build on MacOS
    runs-on: macos-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@398bb08048482c421b1da00a58a1b472a306eb85
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            downloads.gradle.org:443
            github.com:443
            repo.gradle.org:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            repository.jboss.org:443
            services.gradle.org:443
            objects.githubusercontent.com:443
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup Java 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build JKube
        run: |
          ./mvnw -B clean install
